.grid-container{
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 150px 5fr;
}
header{
    grid-column: 2/4;
    border: 5px solid red
}
.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    border: 5px solid red

}
.logo{
    font-size: 2rem;
}
.logo img {
    height: 3rem;
}
.logo-image{
    vertical-align: middle;
}
.sidebar ul{
    padding-left: 15px;
    margin-top: 50px;
}
 .sidebar ul li{
    list-style-type: none;
    margin-top: 15px;
 }
 .sidebar ul li a{
    text-decoration: none;
    padding-left: 15px;
    font-size: 22px;
    color: black;
 }
main{
    grid-column: 2/3;
    border: 5px solid red
}
.right-sidebar{
    grid-column: 3/4;
}
.right-sidebar article p{
    font-size: 10px;
}
.trending article{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.descriptor{
    grid-column: 2/3
}
.main-section section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}
.actions{
    text-align: right;
    padding: 10px;
}
.actions img {
    height: 20px;
    padding: 0px 10px;
    
}