.grid-container{
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 150px 5fr;
}
header{
    grid-column: 2/4;
    border: 5px solid red
}
.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #1992D4;

}
.logo{
    font-size: 2rem;
}
.logo span{
    color: white;
}
.logo img {
    height: 3rem;
    filter: invert(100%) sepia(0%) saturate(7449%) hue-rotate(190deg) brightness(117%) contrast(100%);
}
.logo-image{
    vertical-align: middle;
}
.sidebar ul{
    padding-left: 15px;
    margin-top: 50px;
}
 .sidebar ul li{
    list-style-type: none;
    margin-top: 15px;
 }
 .sidebar ul li span{
    color: white;
 }
 .sidebar ul li a{
    text-decoration: none;
    padding-left: 15px;
    font-size: 22px;
    color: white;
 }
main{
    grid-column: 2/3;
}
.right-sidebar{
    grid-column: 3/4;
    padding: 20px 15px;
    background-color: #E2E8F0;
}
.right-sidebar span{
    font-size: 20px;
}
.announcements{
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}
.announcements h4{
    margin: 0 0;
}
.announcements article{
    margin: 10px;
    padding: 10px;
}
.announcements article:not(:first-child){
    border-top: 1px solid #E2E8F0;
    padding-top: 15px;
}
.right-sidebar article > p{
    font-size: 12px;
    margin: 0;
}
.trending{
    background-color: white;
    border-radius: 10px;
    padding: 5px 15px;
    margin-top: 10px;
}
.trending article{
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 10px;
    margin: 30px 0;
}
.trending article:first-child{
    margin-top: 18px;
}
.trending article:last-child{
    margin-bottom: 18px;
}
.trending img {
    height: 3rem;
}
.trending article p{
    font-weight: bold;
    font-size: 12px;
}
#descriptor{
    grid-column: 2/3;
    margin: -30px 0px;
    color: #878787;
    font-size: 14px;

}
.main-section{
    background-color: #E2E8F0;
    padding: 20px 10px;
}
.main-section section{
    padding: 0px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    margin-top: 10px;
}
.main-section > span {
    margin-left: 5px;
    font-size: 20px;
}
.card{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -5px 0px #F0B429;
}
.card h5, .card p{
    padding-left: 10px;
    padding-right: 10px;
}
.card h5{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 0px;
}
.card p{
    margin-top: 0px;
}
.actions{
    text-align: right;
    padding: 10px;
}
.actions img {
    height: 20px;
    padding: 0px 10px;
    
}